.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  padding: 0 70px;
  max-width: 1140px;
  margin: 0 auto;
  transition: padding 0.2s;
  position: relative;
}

.header__background_color_blue {
  background: #073042;
}

.header__background_color_gray {
  background: #202020;
}

.header__login-button {
  width: 76px;
  height: 32px;
  background: #3ddc84;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border: none;
  cursor: pointer;
}

.header__login-button:hover {
  opacity: 0.8;
  transition: opacity 0.2s;
}

.header__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
}

.header__link:hover {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.header__link-films {
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.header__link-films:hover {
  opacity: 0.7;
  transition: opacity 0.2s;
}

.header__account-container {
  display: flex;
  align-items: center;
  gap: 7px;
}

.header__account-icon {
  background-image: url("../../images/account-icon.svg");
  background-color: #313131;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: none;
  padding: 0;
  width: 26px;
  height: 26px;
}

.header__movies-container {
  display: flex;
  gap: 16px;
  position: fixed;
  left: calc((100vw / 2) - 105px)
}

.header__container {
  display: flex;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media screen and (max-width: 450px) {
  .header {
    padding: 0 14px;
  }

  .header__link {
    font-size: 10px;
    line-height: 16px;
  }

  .header__login-button {
    width: 54px;
    height: 26px;
    border-radius: 3px;
    font-size: 10px;
    line-height: 16px;
  }

  .header__container {
    gap: 14px;
  }
}
