.aboutme {
    background: #202020;
    padding: 110px 70px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    margin: 0 auto;
}

.aboutme__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 66px;
}

.aboutme__text-container {
    max-width: calc(100vw/2.13333333333);
}

.aboutme__subtitle {
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 18px;
}

.aboutme__description {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin: 0;
    margin-bottom: 26px;
}

.aboutme__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin: 0;
    margin-bottom: 99px;
}

.aboutme__github {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin: 0;
}

.aboutme__photo-container {
    background-image: url(../../images/portfolio_photo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 270px;
    height: 327px;
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .aboutme {
        padding: 90px 50px;
    }

    .aboutme__container {
        gap: 20px;
    }

    .aboutme__subtitle {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }

    .aboutme__description {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 20px;
    }

    .aboutme__text {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 87px;
    }

    .aboutme__photo-container {
        width: 255px;
        height: 307px;
    }
}

@media screen and (max-width: 600px) {
    .aboutme__container {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 60px;
        padding-top: 0;
        align-items: center;
    }

    .aboutme__photo-container {
        width: 292px;
        height: 352px;
    }

    .aboutme__text-container {
        max-width: 292px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 450px) {
    .aboutme {
        padding: 70px 14px;
    }

    .aboutme__container {
        gap: 41px;
    }

    .aboutme__subtitle {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .aboutme__description {
        font-size: 11px;
        line-height: 16px;
    }

    .aboutme__text {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 40px;
    }

    .aboutme__text-container {
        width: 292px;
        margin-top: 0;
    }
}